<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Stock Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Stock Data</h1>
    </header>
    <main>
        <h2>Welcome!</h2>
        <p>Do you want to run the DCA strategy for one company or multiple companies?</p>
        <div class="buttons">
            <button type="submit" onclick="location.href='/single_company_DCA'"  value="editor">ONE</button>
            <button type="submit" onclick="location.href='/multiple_company_DCA'"  value="editor">MULTIPLE</button>
        </div>
    </main>
</body>
</html>
