<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Stock Data</title>
    <h1>Stock Data</h1>
</head>
<body>
    <form action="/get_data" method="post">
        <label for="ticker">Ticker:</label>
        <input type="text" id="ticker" name="ticker" style='text-transform:uppercase' required><br>

        <label for="start_range">Start Range:</label>
        <input type="date" id="start_range" name="start_range" required><br>

        <label for="dca_periodicity">DCA Periodicity:</label>
        <select id="dca_periodicity" name="dca_periodicity" required>
            <option value="W">Weekly</option>
            <option value="M">Monthly</option>
            <option value="Q">Quarterly</option>
            <option value="2Q">Bi-Annually</option>
            <option value="A">Annually</option>
        </select><br>

        <label for="dc_amount">DC Amount:</label>
        <input type="number" id="dc_amount" name="dc_amount" min="1" max="1000" value="75" required><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
